<div class="card mt-4">
    <div class="card-header">
    <h1 class="text-center mb-0">Films</h1>
    </div>
    <div class="card-body"> 
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Action </th>
                </tr>
            </thead>
            <tbody>
                {% for film in films %}
                    <tr>
                        <td>{{ film.id }}</td>
                        <td>{{ film.titre }}</td>
                        <td>{{ film.description }}</td>
                        <td>
                        <form id="js-film-delete-form" action="{{ path('films_delete', {titre : film.titre}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr ?')">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('film_deletion' ~ film.titre) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <a href="{{ path('films_edit', {titre : film.titre}) }}" class="btn btn-primary btn-block mb-2">Modifier</a>
                            <button type="submit" class="btn btn-danger btn-block mb-2">Supprimer</button>
                        </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('films_add') }}" class="btn btn-secondary mt-3">créer nouveau film</a>
    </div>
</div>