<div class="card mt-4">
    <div class="card-header">
    <h1 class="text-center mb-0">Acteurs</h1>
    </div>
    <div class="card-body"> 
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Profession</th>
                    <th>Action </th>
                </tr>
            </thead>
            <tbody>
                {% for acteur in acteurs %}
                    <tr>
                        <td>{{ acteur.id }}</td>
                        <td><a href="{{path('acteurs_show' , {nom : acteur.nom , prenom : acteur.prenom})}}">{{acteur.prenom}} {{acteur.nom}} </a></td>
                        <td>{{ acteur.metier }}</td>
                        <td>
                        <form id="js-acteur-delete-form" action="{{ path('acteurs_delete', {prenom : acteur.prenom, nom : acteur.nom}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr ?')">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('acteur_deletion' ~ acteur.id) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <a href="{{ path('acteurs_edit', {prenom : acteur.prenom, nom : acteur.nom}) }}" class="btn btn-primary btn-block mb-2">Modifier</a>
                            <button type="submit" class="btn btn-danger btn-block mb-2">Supprimer</button>
                        </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('acteurs_add') }}" class="btn btn-secondary mt-3">ajouter acteur</a>
    </div>
</div>