<div class="card mt-4">
    <div class="card-header">
    <h1 class="text-center mb-0">categories</h1>
    </div>
    <div class="card-body"> 
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Libelle</th>
                    <th>Nombre Films</th>
                    <th>Nombre Series</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.id }}</td>
                        <td><a href="{{path('categories_show' , {libelle : categorie.libelle}) }}">{{categorie.libelle}} </a></td>
                        <td>{{categorie.films|length}}</td>
                        <td>{{categorie.series|length}}</td>
                        <td>
                        <form id="js-categorie-delete-form" action="{{ path('categories_delete', {id : categorie.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr ?')">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('categorie_deletion' ~ categorie.id) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <a href="{{ path('categories_edit', {libelle : categorie.libelle}) }}" class="btn btn-primary btn-block mb-2">Modifier</a>
                            <button type="submit" class="btn btn-danger btn-block mb-2">Supprimer</button>
                        </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('categories_add') }}" class="btn btn-secondary mt-3">ajouter categorie</a>
    </div>
</div>