<div class="card mt-4">
    <div class="card-header">
    <h1 class="text-center mb-0">Series</h1>
    </div>
    <div class="card-body"> 
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Catégories</th>
                    <th>Actions </th>
                </tr>
            </thead>
            <tbody>
                {% for serie in series %}
                    <tr>
                        <td>{{ serie.id }}</td>
                        <td><a href="{{path('series_show' , {titre : serie.titre})}}">{{ serie.titre}} </a></td>
                        <td>
                            {% if serie.description|length > 25 %}
                                {{ serie.description|slice(0, 25) ~ '...' }}
                            {% else %}
                                {{ serie.description }}
                            {% endif %}
                        </td>
                        <td>
                            {% for categorie in serie.categorie %}
                                <a href="{{path('categories_show' , {libelle : categorie.libelle})}}">
                                    {{ categorie }}
                                </a>
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                        <form id="js-serie-delete-form" action="{{ path('series_delete', {id : serie.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr ?')">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('serie_deletion' ~ serie.id) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <a href="{{ path('series_edit', {titre : serie.titre}) }}" class="btn btn-primary btn-block mb-2">Modifier</a>
                            <button type="submit" class="btn btn-danger btn-block mb-2">Supprimer</button>
                        </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('series_add') }}" class="btn btn-secondary mt-3">ajouter serie</a>
    </div>
</div>