{% extends 'base.html.twig' %}

{% block title %}Administration Utilisateurs{% endblock %}

{% block body %}
  {% include('vod/partials/header.html.twig') %}

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Films</h5>
            <p class="card-text">{{ filmCount }}</p>
            <a href="{{ path('films_add') }}" class="btn btn-secondary mt-3">ajouter film</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Utilisateurs</h5>
            <p class="card-text">{{ userCount }}</p>
            <a href="{{ path('app_register') }}" class="btn btn-secondary mt-3">créer nouveau compte</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Séries</h5>
            <p class="card-text">{{ serieCount }}</p>
            <a href="{{ path('series_add') }}" class="btn btn-secondary mt-3">ajouter serie</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Acteurs</h5>
            <p class="card-text">{{ acteurCount }}</p>
            <a href="{{ path('acteurs_add') }}" class="btn btn-secondary mt-3">ajouter acteur</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Catégories</h5>
            <p class="card-text">{{ categorieCount }}</p>
            <a href="{{ path('categories_add') }}" class="btn btn-secondary mt-3">ajouter catégorie</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include('vod/partials/footer.html.twig') %}
{% endblock %}
  