<nav class="navbar navbar-expand-lg navbar-light bg-info" >
  <div class="container-fluid">
    <a class="navbar-brand ml-auto" href="{{ path('app_home') }}">ParadiseMovies</a>
    {# <a class="navbar-brand ml-auto" href="{{ path('app_vod') }}">VOD</a>
    <a class="navbar-brand ml-auto" href="{{ path('app_cinema') }}">CINEMA</a> #}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item bg-info" >
          <a class="nav-link" href="{{ path('films_index') }}">Films</a>
        </li>
        <li class="nav-item bg-info">
          <a class="nav-link" href="{{ path('series_index') }}">Séries</a>
        </li>        
        <li class="nav-item bg-info">
          <a class="nav-link" href="{{ path('categories_index') }}">Catégories</a>
        </li>        
        <li class="nav-item bg-info">
          <a class="nav-link" href="{{ path('acteurs_index') }}">Personalités</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_admin') }}">Administration</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_dashboard') }}">Dashboard</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('users_show', {firstname : app.user.firstname, lastname : app.user.lastname}) }}">Mon compte</a>
                    </li>

                    <li class="nav-item"> 
                      <a class="nav-link" href="{{ path('users_show', {firstname : app.user.firstname, lastname : app.user.lastname}) }}">
                        <img src="{{ asset('/uploads/users_images/' ~ app.user.image) }}" class="img-thumbnail img-center rounded-circle profile-image float-start" alt="Image du user" style="width: 40px; height: 40px;">
                      </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">M'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Me Connecter</a>
                    </li>
				{% endif %}
			</ul>
    </div>
  </div>
</nav>
