{% extends 'base.html.twig' %}

{% block body %}
{% for flashType, flashMessages in app.flashes %}
  {% for flashMessage in flashMessages %}
    {% set alertClass = flashType == 'success' ? 'alert-success' : 'alert-danger' %}
    <div class="alert {{ alertClass }} text-center">{{ flashMessage }}</div>
  {% endfor %}
{% endfor %}

    {% include 'vod/partials/header.html.twig' %}
    {% for flashType, flashMessages in app.flashes %}
        {% for flashMessage in flashMessages %}
            {% set alertClass = flashType == 'success' ? 'alert-success' : 'alert-danger' %}
            <div class="alert {{ alertClass }} text-center">{{ flashMessage }}</div>
        {% endfor %}
    {% endfor %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
                <h1 class="card-title text-center mb-4">Modifier la série {{ serie.titre }}</h1>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        {{ form_start(form, {'method': 'PUT', 'attr': {'enctype': 'multipart/form-data'}}) }}
                            <div class="form-group mb-4">
                                {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group mb-4">
                                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group mb-4">
                                {{ form_label(form.sortie, 'Date de sorite', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.sortie, {'attr': {'class': 'form-control'}}) }}
                            </div>             
                            <div class="form-group mb-4">
                                {{ form_label(form.image, 'Image', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Modifier" class="btn btn-primary w-100">
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        
<div class="card my-5" id="card-add-episode">
    <div class="card-body">
        <h2>Episodes</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for episode in serie.episodes %}
            <div class="col-md-2 mb-4">
                <p>{{ episode.titre }} - {{ episode.description }} - {{ episode.duree|date('H:i:s') }} - </p>
            </div>                            
            {% endfor %}
        </div>
        <h2 class="card-title text-center">Ajouter un épisode</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form_start(formEpisode, {'attr': {'class': 'mt-4'}}) }}
                <div class="form-group mb-4">
                    {{ form_label(formEpisode.titre, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(formEpisode.titre, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-4">
                    {{ form_label(formEpisode.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(formEpisode.description, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-4">
                    {{ form_label(formEpisode.duree, 'Durée', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(formEpisode.duree, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-4">
                    {{ form_label(formEpisode.episode, 'Épisode', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(formEpisode.episode, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-4">
                    {{ form_label(formEpisode.saison, 'Saison', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(formEpisode.saison, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-4">
                    {{ form_label(formEpisode.video, 'Vidéo') }}
                    {{ form_widget(formEpisode.video, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <input type="submit" value="Ajouter" class="btn btn-primary w-100">
                </div>
                {{ form_end(formEpisode) }}
            </div>
        </div>
    </div>
</div>
</div>

  {% include('vod/partials/footer.html.twig') %}

{% endblock %}
