{% extends 'base.html.twig' %}

{% block title %}Séries{% endblock %}

{% block body %}
  {% include('vod/partials/header.html.twig') %}

  <div class="container">
    <h1 class="my-4">Séries disponibles</h1>

    {% if series is empty %}
      <p>Aucune série disponible pour le moment.</p>
    {% else %}
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for serie in series %}
          <div class="col-md-2 mb-4">
             <a href="{{ path('series_show', {titre : serie.titre}) }}">
              <div class="card h-100">
                <img src="{{ asset('uploads/series_images/' ~ serie.image) }}" class="card-img-top img-fluid" alt="{{ serie.titre }}">
                <div class="card-body">
                  <h5 class="card-title">{{ serie.titre }}</h5>
                  <p class="card-text">{{ serie.description }}</p>
                </div>
                </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="d-flex justify-content-between my-4">
      <a href="{{ path('app_home') }}" class="btn btn-primary">
        Retour à l'accueil
      </a>
      <a href="{{ path('series_add') }}" class="btn btn-success">
        Ajouter une nouvelle série
      </a>
    </div>
  </div>

  {% include('vod/partials/footer.html.twig') %}

{% endblock %}
