{% extends 'base.html.twig' %}

{% block title %}{{ serie.titre }}{% endblock %}

{% block body %}
  {% include('vod/partials/header.html.twig') %}

  <div class="container">
    <div class="card my-5">
      <div class="card-body">
        <h1 class="card-title text-center">{{ serie.titre }}</h1>
        <p class="card-text">{{ serie.description }}</p>
        <div class="d-flex flex-column align-items-center justify-content-center mt-4">
          <a href="{{ path('series_edit', {titre : serie.titre}) }}" class="btn btn-primary btn-block mb-2">Modifier série</a>
          <form id="js-serie-delete-form" action="{{ path('series_delete', {titre : serie.titre}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr ?')">
            <input type="hidden" name="csrf_token" value="{{ csrf_token('serie_deletion' ~ serie.titre) }}">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-block mb-2">Supprimer série</button>
          </form>
          <a href="#" class="btn btn-success btn-block mb-2">Ajouter épisode</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
