{% extends 'base.html.twig' %}

{% block title serie.titre %}

{% block body %}
  {% include('vod/partials/header.html.twig') %}

  <div class="container">
    <div class="card my-5">
      <div class="card-body">
        <h1 class="card-title text-center">{{ serie.titre }}</h1>
        <p class="card-text">{{ serie.description }}</p>

{% set saisons = [] %}
{% for episode in serie.episodes %}
  {% if episode.saison not in saisons %}
    {% set saisons = saisons|merge([episode.saison]) %}
  {% endif %}
{% endfor %}

{% set saisons = saisons|sort %}

{% for season in saisons %}
  {% set episodesInSeason = serie.episodes|filter(e => e.saison == season)|sort((a, b) => a.episode - b.episode) %}
  <h2>Saison {{ season }}</h2>
  <ul>
    {% for episode in episodesInSeason %}
      <li>{{ episode.episode }} - {{ episode.titre }} - {{ episode.description }} - {{ episode.duree|date('H:i:s') }}</li>
    {% endfor %}
  </ul>
{% endfor %}




        <div class="d-flex flex-column align-items-center justify-content-center mt-4">
          <a href="{{ path('series_edit', {titre : serie.titre}) }}" class="btn btn-primary btn-block mb-2">Modifier série</a>
          <form id="js-serie-delete-form" action="{{ path('series_delete', {titre : serie.titre}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr ?')">
            <input type="hidden" name="csrf_token" value="{{ csrf_token('serie_deletion' ~ serie.titre) }}">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-block mb-2">Supprimer série</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% include('vod/partials/footer.html.twig') %}

{% endblock %}