{% extends 'base.html.twig' %}

{% block title serie.titre %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.background-image {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-image: url('{{ asset('/uploads/series_images/' ~ serie.image) }}');
			background-position: center;
			background-size: cover;
			filter: blur(6px) brightness(0.3);
			opacity: 1;
		}
	</style>
{% endblock %}

{% block body %}
	{% include('vod/partials/header.html.twig') %}

	<div class="background-image"></div>

	<div class="container">
		<div class="card my-5">
			<div class="card-body">
				<div class="row">
					<div class="col-md-4">
						<img src="{{ asset('/uploads/series_images/' ~ serie.image) }}" class="img-thumbnail" alt="Image de {{ serie.titre }}">
					</div>
					<div class="col-md-8">
						<h1 class="card-title">{{ serie.titre }}</h1>
						<p>
							{% for categorie in serie.categorie %}
								{{ categorie.libelle }}
								{% if not loop.last %},
								{% endif %}
							{% endfor %}
						</p>
						<p>Sortie le
							{{ serie.sortie|date('d/m/Y') }}</p>
						<p>
							{% set realisateurs = [] %}
							{% set acteurs = [] %}
							{% for acteur in serie.casting %}
								{% if acteur.metier == 'Réalisateur' %}
									{% set realisateurs = realisateurs|merge([acteur]) %}
								{% else %}
									{% set acteurs = acteurs|merge([acteur]) %}
								{% endif %}
							{% endfor %}
							De
							{% for realisateur in realisateurs %}
								<a href="{{path('acteurs_show', {prenom : realisateur.prenom , nom : realisateur.nom})}}">
									{{ realisateur.prenom }}
									{{ realisateur.nom }}
								</a>
								{% if not loop.last %},
								{% endif %}
							{% endfor %}
							<br>
							Avec
							{% for acteur in acteurs %}
								<a href="{{path('acteurs_show', {prenom : acteur.prenom , nom : acteur.nom})}}">
									{{ acteur.prenom }}
									{{ acteur.nom }}
								</a>
								{% if not loop.last %},
								{% endif %}
							{% endfor %}
						</p>
						<p class="card-text">{{ serie.description }}</p>

            {# SAISONS EPISODES #}
							{% set saisons = [] %}
							{% for episode in serie.episodes %}
								{% if episode.saison not in saisons %}
									{% set saisons = saisons|merge([episode.saison]) %}
								{% endif %}
							{% endfor %}

							{% set saisons = saisons|sort %}

							<form action="{{ path('series_show', {titre : serie.titre}) }}" method="get">
								<label for="season-select">Saison :</label>
								<select id="season-select" name="saison" onchange="this.form.submit()">
									<option value="1" {% if selectedSeason == 1 %} selected {% endif %}>Saison 1</option>
									{% for season in saisons %}
										{% if season != 1 %}
											<option value="{{ season }}" {% if selectedSeason == season %} selected {% endif %}>Saison
												{{ season }}</option>
										{% endif %}
									{% endfor %}
								</select>
								<noscript><input type="submit" value="Go"></noscript>
							</form>

							{% if selectedSeason is empty %}
								{% set selectedEpisodes = serie.episodes %}
							{% else %}
								{% set selectedEpisodes = serie.episodes|filter(e => e.saison == selectedSeason) %}
							{% endif %}

							{% set sortedEpisodes = selectedEpisodes|sort((a, b) => a.episode - b.episode) %}

							{% set currentSeason = '' %}
							{% for episode in sortedEpisodes %}
								{% if episode.saison != currentSeason %}
									{% if currentSeason != '' %}
									</ul>
								{% endif %}
								<h2>Saison 
                
									{{ episode.saison }}</h2>
								<ul>
              
									{% set currentSeason = episode.saison %}
								{% endif %}
								<li>
									<a href="{{ path('episodes_show', {id : episode.id, serie_titre : serie.titre, titre : serie.titre} )}}">
										{{ episode.episode }}
										-
										{{ episode.titre }}
										-
										{{ episode.description }}
										-
										{{ episode.duree|date('H:i:s') }}
									</a>S
								</li>
							{% endfor %}
							{% if currentSeason != '' %}
							</ul>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		{% if app.user and is_granted('ROLE_ADMIN') %}
			<div class="d-flex flex-column align-items-center justify-content-center mt-4">
				<a href="{{ path('series_edit', {titre : serie.titre}) }}" class="btn btn-primary btn-block mb-2">Modifier serie</a>
				<form id="js-serie-delete-form" action="{{ path('series_delete', {id : serie.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr ?')">
					<input type="hidden" name="csrf_token" value="{{ csrf_token('serie_deletion' ~ serie.id) }}">
					<input type="hidden" name="_method" value="DELETE">
					<button type="submit" class="btn btn-danger btn-block mb-2">Supprimer serie</button>
				</form>
			</div>
		{% endif %}
	</div>
</div></div>{% include('vod/partials/footer.html.twig') %}{% endblock %}
