{% extends 'base.html.twig' %}

{% block title film.titre %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.background-image {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-image: url('{{ asset('/uploads/films_images/' ~ film.image) }}');
			background-position: center;
			background-size: cover;
			filter: blur(6px) brightness(0.3);
			opacity: 1;
		}
	</style>
{% endblock %}

{% block body %}
    {% include('vod/partials/header.html.twig') %}
    {% include('vod/templates/_flashMessages.html.twig') %}
    <div class="background-image"></div>

    <div class="container">
        <div class="card my-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ asset('/uploads/films_images/' ~ film.image) }}" class="img-thumbnail" alt="Image de {{ film.titre }}">
                    </div>
                    <div class="col-md-8">
                        <div class="d-flex align-items-center justify-content-between">
                            <h1 class="card-title">{{ film.titre }}</h1>
                            {% if app.user and is_granted('ROLE_USER') %}
                                {% if fav == 0 %}
                                    <a href="{{ path('favorisFilms_add', {id: film.id}) }}" class="btn btn-success">Mettre en favori</a>
                                {% else %}
                                    <a href="{{ path('favorisFilms_remove', {id: film.id}) }}" class="btn btn-primary">Enlever des favoris</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <p>
                            {% for categorie in film.categorie %}
                                <a href="{{ path('categories_show', {libelle : categorie.libelle} )}}">
                                    {{ categorie.libelle }}
                                </a>
                                {% if not loop.last %},
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p>Sortie le {{ film.sortie|date('d/m/Y') }}</p>
                        <p>{{ film.duree|date('H:i:s') }}</p>
                        {% if film.note == 0 %}
                            <p>(Pas assez d'avis pour avoir une note)</p>
                        {% else %}
                            <p>Note : {{ film.note|round(1, 'floor') }} / 5</p>
                        {% endif %}
                        <p>
                            {% set realisateurs = [] %}
                            {% set acteurs = [] %}
                            {% for acteur in film.casting %}
                                {% if acteur.metier == 'Réalisateur' %}
                                    {% set realisateurs = realisateurs|merge([acteur]) %}
                                {% else %}
                                    {% set acteurs = acteurs|merge([acteur]) %}
                                {% endif %}
                            {% endfor %}
                            De
                            {% for realisateur in realisateurs %}
                                <a href="{{ path('acteurs_show', {prenom : realisateur.prenom , nom : realisateur.nom})}}">
                                    {{ realisateur.prenom }}
                                    {{ realisateur.nom }}
                                </a>
                                {% if not loop.last %},
                                {% endif %}
                            {% endfor %}
                            <br>
                            Avec
                            {% for acteur in acteurs %}
                                <a href="{{ path('acteurs_show', {prenom : acteur.prenom , nom : acteur.nom})}}">
                                    {{ acteur.prenom }}
                                    {{ acteur.nom }}
                                </a>
                                {% if not loop.last %},
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p class="card-text">{{ film.description }}</p>
                        <br>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <iframe width="560" height="315" src="{{ film.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>

                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <div class="d-flex flex-column align-items-center justify-content-center mt-4">
                        <a href="{{ path('films_edit', {titre : film.titre}) }}" class="btn btn-primary btn-block mb-2">Modifier film</a>
                        <form id="js-film-delete-form" action="{{ path('films_delete', {titre : film.titre}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr ?')">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('film_deletion' ~ film.titre) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-block mb-2">Supprimer film</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
        {% include('vod/templates/_avis.html.twig') %}
    </div>

    {% include('vod/partials/footer.html.twig') %}
{% endblock %}


